@import '_normalize';
@import '_fonts';
@import '_variables';
@import '_mixins';

html{
  height: 100%;
}

body {
  background-color: $secondary-color;
  height: 100%;
}

.text{
  padding: 0;
  margin: 0;
  font-size: $text-size;
  font-family: $font-primary;
  color: $primary-color;
}

.title{
  text-align: center;
  font-size: $title-size;
  color: $primary-color;
  font-family: $font-primary;
  margin: 0.5rem 0;
}

.link{
  text-decoration: none;
}

.container{ 
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 65%;
  margin: 0 auto;
}

.nav{
  padding-top: 1.5%;
  .nav-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    .nav-li{
      display: flex;
      list-style-type: none;
      background-color: $primary-color;
      border-radius: 3rem;


      .nav-menu-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height: 2.8rem;
        color: $secondary-color;
      }
    }
    li:last-child{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 14rem;

      .nav-menu-link-img{
        width: 5.3rem;
        height: 2.3rem;
        margin: 0.15rem 0 0 1.3rem;
      }      
    }
  } 
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 6rem;
  flex: 1 1 auto;
  max-height: 40%;

  .main-basic_information{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-basic_information-img{
      max-width: 750px;
      max-height: 460px;
    }

    .main-basic_information-composition{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;

      .main-basic_information-composition-paragraph{
        margin: 0.2rem 0;
      }
    }
  }

  .main-instruction{
    max-width: 40%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;

    .main-instruction-paragraph{
      margin: 0.25rem 0;
    }
  }

}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-contacts{
    display: flex;
    flex-direction: column;
    width: 12rem;

    .footer-contacts-text{
      text-align: center;
      font-size: 1.6rem;

    }

    .footer-contacts-links{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0.4rem 0;
    }
  }
}


@media (max-width: 1440px){

}

@media (max-width: 1280px){

}

@media (max-width: 1000px){
  
}

@media (max-width: 768px){
  
}

@media (max-width: 480px){
  
}