@import '_normalize';
@import '_fonts';
@import '_variables';
@import '_mixins';

html{
  height: 100%;
}

body {
  background-color: $secondary-color;
  height: 100%;
}

.text{
  padding: 0;
  margin: 0;
  font-size: $text-size;
  font-family: $font-primary;
  color: $primary-color;
}

.title{
  text-align: center;
  font-size: $title-size;
  color: $primary-color;
  font-family: $font-primary;
  margin: 0.5rem 0;
}

.link{
  text-decoration: none;
}

.button{
  border: none;
  margin: 0;
  padding: 0;

}
.container{ 
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 0 auto;
}

.nav{
  padding-top: 1.5%;

  .nav-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    .nav-li{
      display: flex;
      list-style-type: none;
      background-color: $primary-color;
      border-radius: 3rem;

      .nav-menu-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height: 2.8rem;
        color: $secondary-color;
      }
    }

    li:last-child{
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 14rem;

      .nav-menu-link-img{
        width: 4.87rem;
        height: 2.3rem;
        margin: 0.15rem 0 0 1.1rem;
      }      
    }
  } 
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
  flex: 1 1 auto;
  max-height: 40%;

  .main-basic_information{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-basic_information-img{
      max-width: 550px;
      max-height: 460px;
    }

    .main-basic_information-composition{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;

      .main-basic_information-composition-paragraph{
        margin: 0.2rem 0;
      }
    }
  }

  .main-instruction{
    max-width: 47%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;

    .main-instruction-paragraph{
      margin: 0.25rem 0;
    }
  }
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-contacts{
    display: flex;
    flex-direction: column;
    width: 12rem;

    .footer-contacts-text{
      text-align: center;
      font-size: 1.6rem;
    }

    .footer-contacts-links{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 0.4rem 0;
    }
  }
}

@media (max-width: 1680px){

  .text{
    font-size: 1.35rem;
  }
  
  .title{
    font-size: 2.5rem;
    margin: 0.4rem 0;
  }

  .container{
    max-width: 90%;
  }
  .main{
    padding-top: 4%;

  .main-basic_information .main-basic_information-img {
        max-width: 520px;
        max-height: 440px;
}}}

@media (max-width: 1440px){
  .text{
    font-size: 1.23rem;
  }
  
  .title{
    font-size: 2.3rem;
    margin: 0.4rem 0;
  }

  .container{
    max-width: 90%;
  }
  .main{
    padding-top: 4%;
  
  .main-basic_information .main-basic_information-img {
    max-width: 480px;
    max-height: 430px;
}}}

@media (max-width: 1280px){
  .text{
    font-size: 1.21rem;
  }
  
  .title{
    font-size: 2.2rem;
    margin: 0.35rem 0;
  }

  .container{
    max-width: 93%;
  }

  .nav{  
    .nav-menu{
      .nav-li{
        border-radius: 1.1rem;
  
        .nav-menu-link{
          width: 9.5rem;
          height: 2.6rem;
        }
      }
  
      li:last-child{
        width: 12.5rem;
  
        .nav-menu-link-img{
          width: 6rem;
          height: 2.3rem;
          margin: 0.16rem 0 0 1.3rem;
        }      
      }
    } 
  }

  .main{
    padding-top: 4%;
  
  .main-basic_information .main-basic_information-img {
    max-width: 440px;
    max-height: 356px;
}}}

@media (max-width: 1080px){
  .text{
    font-size: calc($text-size - 0.4rem);
  }
  
  .title{
    font-size: 2rem;
    margin: 0.35rem 0;
  }

  .container{
    max-width: 95%;
  }

  .nav{  
    .nav-menu{
      .nav-li{
        border-radius: 1.1rem;
  
        .nav-menu-link{
          width: 9.5rem;
          height: 2.6rem;
        }
      }
  
      li:last-child{
        width: 12.5rem;
  
        .nav-menu-link-img{
          width: 6rem;
          height: 2.3rem;
          margin: 0.16rem 0 0 1.3rem;
        }      
      }
    } 
  }

  .main{
    padding-top: 4%;
  
  .main-basic_information .main-basic_information-img {
    max-width: 380px;
    max-height: 300px;
}}}

@media (max-width: 768px){
  
}

@media (max-width: 480px){
  
}